* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    .main-nav {
        display: flex;
        // height: 100px;
        width: 100%;
        background-color: black;
        color: white;
        justify-content: space-between;
        align-items: center;

        padding: 1.25rem .5rem;

        &>a {
            background-color: white;
            color: red;
        }

        .nav-bar-menu {
            padding: 0px;
            margin: 0px;
            padding-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;

            li {
                a {
                    color: white;
                    font-size: 1.25rem;
                    text-decoration: none;
                    padding: 1rem 1.25rem;

                    &:hover {
                        // background-color: red;
                        color: red;
                    }
                    &::after{

                    }
                }
            }
        }

        .brand-logo {
            color: white;
            font-size: 60px;
            text-decoration: none;

            &.text-logo {
                background-color: aqua;
            }
        }
    }
}