.navbar{
    background-color: red;
    height: 100px;
    width: 100%;
    .brand-logo{
        font-size: 2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-weight: bold;
        text-decoration: none;
    }
}