div {
    background-color: blue;
}

.spanClass {
    background-color: rebeccapurple;
}

.classDiv {
    border: 20px solid black;
    
}
.classDiv>span.spanClass{
    background-color: white;
}
.classDiv>div.spanClass>.spanClass{
    background-color: rgb(22, 187, 85);
}
.classDiv+div{
    background-color: rgb(196, 39, 39);
}
#idDiv{
    background-color: chartreuse;
}
