.text-center{
text-align: center;
}
.card-tile{
    width: 300px;
    height: 450px;
    background-color: aliceblue;
    /* border: 1px solid gray; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0,0.5);
    /* opacity: 0.5; */
    /* filter: blur(10px); */
    border-radius: .5rem;
    padding: .5rem;
}
h1{
    margin: 0px;
    text-align: center;
    text-shadow:  10px 10px 10px rgb(218, 15, 15),10px -10px 10px rgb(56, 182, 14),-10px 10px 10px rgb(228, 228, 12),-10px -10px 10px rgb(222, 7, 143);
}
.card-tile:hover{
    background-color: black;
    color: white;
}
ul>li{
    background-color: aqua;
    margin: .5rem;
}
ul>li:first-child{
    background-color: red;
}
ul>li:last-child{
    background-color: red;
}
ul>li:nth-child(3){
    background-color: rgb(43, 19, 19);
}

