#hamza {
    background-color: palegoldenrod;
    color: white;
}
#wasi900{

}
h1 {
    background-color: rgb(28, 215, 28);
    height: 20px;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 18% 100%, 0 86%);
}

.hamza {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background-color: red;
    color: white;
}
html{
    font-size: 10px;
}
.usama {
    width: 10rem;
    height: 5rem;
    background-color: blue;
}
.abc{
    font-size: 50px;
    display: flex;
}
.wasi {
    max-width: 900px;
    width: 100%;
    height: 5em;
    background-color: yellow;
}