#hamza {
    background-color: palegoldenrod;
    color: white;
}

h1 {
    background-color: rgb(28, 215, 28);
    height: 20px;
    width: 50%;
}

.hamza {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background-color: red;
}
html{
    font-size: 10px;
}
.usama {
    width: 190vw;
    height: 5rem;
    background-color: blue;
}
.abc{
    font-size: 50px;
}
.wasi {
    max-width: 900px;
    width: 100%;
    height: 5em;
    background-color: yellow;
}